In [38]:
import pandas as pd
experiment_home = "/mnt/d/Dropbox/MassDynamics_local/experiments/byo_upload_example"
proteinGroups = pd.read_csv(os.path.join(experiment_home,"proteinGroups.txt"), sep = "\t")
summary = pd.read_csv(os.path.join(experiment_home,"summary.txt"), sep = "\t")
exp_des_original = pd.read_csv(os.path.join(experiment_home,"experimentDesign_original.txt"), sep = "\t")

In [24]:
summary

,Raw file,Experiment,Enzyme,Enzyme mode,Enzyme first search,Enzyme mode first search,Use enzyme first search,Variable modifications,Fixed modifications,Multi modifications,...,Isotope Patterns Sequenced [%],Isotope Patterns Sequenced (z>1) [%],Isotope Patterns Repeatedly Sequenced,Isotope Patterns Repeatedly Sequenced [%],Recalibrated,Av. Absolute Mass Deviation [ppm],Mass Standard Deviation [ppm],Av. Absolute Mass Deviation [mDa],Mass Standard Deviation [mDa],Label free norm param
0,20130510_EXQ1_IgPa_QC_UPS1_04,1_04,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,24,29,7803,13,+,0.76200,1.0662,0.58686,0.87710,NaN
1,20130510_EXQ1_IgPa_QC_UPS2_01,2_01,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,25,30,8066,14,+,0.76245,1.0695,0.58210,0.87183,NaN
2,20130510_EXQ1_IgPa_QC_UPS2_02,2_02,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,20,24,9221,21,+,0.81677,1.1255,0.62355,0.92173,NaN
3,20130510_EXQ1_IgPa_QC_UPS2_03,2_03,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,26,32,9262,18,+,0.73999,1.0368,0.56751,0.84124,NaN
4,20130510_EXQ1_IgPa_QC_UPS2_04,2_04,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,24,29,8903,17,+,0.78662,1.0938,0.60080,0.88788,NaN
5,20130510_EXQ1_IgPa_QC_UPS1_01,1_01,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,21,25,8739,20,+,0.77163,1.0719,0.57209,0.85181,NaN
6,20130510_EXQ1_IgPa_QC_UPS1_02,1_02,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,23,28,8461,16,+,0.78112,1.0851,0.59033,0.87423,NaN
7,20130510_EXQ1_IgPa_QC_UPS1_03,1_03,Trypsin/P,Specific,NaN,NaN,False,Oxidation (M);Acetyl (Protein N-term);Gln->pyr...,Carbamidomethyl (C),NaN,...,20,23,8867,19,+,0.84579,1.1676,0.64078,0.94394,NaN
8,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23,27,69322,17,NaN,0.78194,1.0888,0.59495,0.88365,NaN

In [25]:
proteinGroups.head(5)

,Protein IDs,Majority protein IDs,Peptide counts (all),Peptide counts (razor+unique),Peptide counts (unique),Fasta headers,Number of proteins,Peptides,Razor + unique peptides,Unique peptides,...,id,Peptide IDs,Peptide is razor,Mod. peptide IDs,Evidence IDs,MS/MS IDs,Best MS/MS,Oxidation (M) site IDs,Oxidation (M) site positions,Taxonomy IDs
0,CON__A2A4G1;CON__P08727;CON__P19001;CON__Q7Z3Z...,CON__A2A4G1,5;2;2;1;1;1;1;1,2;0;0;0;0;0;0;0,2;0;0;0;0;0;0;0,NaN,8,5,2,2,...,0,855;11664;14360;22601;23477,True;False;True;False;False,913;12596;15489;24993;25961;25962,13910;177961;177962;177963;177964;177965;17796...,13443;172812;172813;207522;207523;207524;32547...,13443;172813;207523;325478;336743,0,102,-1;-1;-1;-1;-1;-1;-1;-1
1,CON__ENSEMBL:ENSBTAP00000038253,CON__ENSEMBL:ENSBTAP00000038253,7,3,3,NaN,1,7,3,3,...,1,822;1935;4090;6413;17346;19437;19460,True;False;False;False;True;True;False,879;2129;4432;4433;6922;19114;21564;21590,13513;31863;31864;31865;31866;31867;66070;6607...,13087;31279;31280;65785;65786;98884;98885;9888...,13087;31280;65785;98888;248394;275905;276327,1,465,-1
2,CON__P00761,CON__P00761,4,4,4,NaN,1,4,4,4,...,2,10211;12277;13768;21808,True;True;True;True,11043;11044;13240;14855;24130,155551;155552;155553;155554;155555;155556;1555...,150388;150389;150390;150391;150392;150393;1503...,150403;181573;200160;310366,2,94,-1
3,CON__P01966,CON__P01966,5,1,1,NaN,1,5,1,1,...,3,13607;14533;21583;21932;22226,False;False;False;False;True,14684;15727;15728;23886;24265;24583,204484;204485;204486;204487;204488;204489;2044...,198593;198594;198595;198596;198597;198598;1985...,198600;209898;306979;314033;319171,3,33,-1
4,CON__P02533;CON__Q04695;CON__Q9QWL7;CON__Q9Z2K...,CON__P02533,9;4;4;2;2;1,7;3;3;1;1;1,3;2;2;0;0;1,NaN,6,9,7,3,...,4,1781;2033;2592;5710;8309;10785;11664;22601;23477,True;True;True;True;True;True;False;True;False,1962;2230;2826;6176;8987;11665;12596;24993;259...,29530;29531;29532;32951;32952;32953;42359;4236...,28390;32163;32164;41548;41549;86886;86887;8688...,28390;32164;41548;86888;125375;161745;172813;3...,0,119,-1;-1;-1;-1;-1;-1

In [27]:
# get options for experiment names
summary[["Raw file", "Experiment"]]

# via assignment to raw, add experiment names to MD condition

                        Raw file Experiment
0  20130510_EXQ1_IgPa_QC_UPS1_04       1_04
1  20130510_EXQ1_IgPa_QC_UPS2_01       2_01
2  20130510_EXQ1_IgPa_QC_UPS2_02       2_02
3  20130510_EXQ1_IgPa_QC_UPS2_03       2_03
4  20130510_EXQ1_IgPa_QC_UPS2_04       2_04
5  20130510_EXQ1_IgPa_QC_UPS1_01       1_01
6  20130510_EXQ1_IgPa_QC_UPS1_02       1_02
7  20130510_EXQ1_IgPa_QC_UPS1_03       1_03
8                          Total        NaN

In [28]:
proteinGroups.filter(regex = "Intensity").columns

Index(['Intensity', 'Intensity 1_01', 'Intensity 1_02', 'Intensity 1_03',
       'Intensity 1_04', 'Intensity 2_01', 'Intensity 2_02', 'Intensity 2_03',
       'Intensity 2_04'],
      dtype='object')

In [29]:
proteinGroups.filter(regex = "Intensity").head(2)

,Intensity,Intensity 1_01,Intensity 1_02,Intensity 1_03,Intensity 1_04,Intensity 2_01,Intensity 2_02,Intensity 2_03,Intensity 2_04
0,174280000,32422000,36636000,14649000,23417000,24818000,19269000,9347500,13718000
1,1040700000,115690000,151980000,112850000,114070000,161220000,103720000,132900000,148260000

In [45]:
eg = summary[["Raw file", "Experiment"]].drop(8)
eg = eg.sort_values("Raw file")
eg

                        Raw file Experiment
5  20130510_EXQ1_IgPa_QC_UPS1_01       1_01
6  20130510_EXQ1_IgPa_QC_UPS1_02       1_02
7  20130510_EXQ1_IgPa_QC_UPS1_03       1_03
0  20130510_EXQ1_IgPa_QC_UPS1_04       1_04
1  20130510_EXQ1_IgPa_QC_UPS2_01       2_01
2  20130510_EXQ1_IgPa_QC_UPS2_02       2_02
3  20130510_EXQ1_IgPa_QC_UPS2_03       2_03
4  20130510_EXQ1_IgPa_QC_UPS2_04       2_04

In [48]:
exp_des_original["MQ_experiment"] = eg["Experiment"].to_list()
exp_des_original

,name,techRep,bioRep,fraction,experiment,remove,MQ_experiment
0,20130510_EXQ1_IgPa_QC_UPS1_01,1,1,0,UPS1,False,1_01
1,20130510_EXQ1_IgPa_QC_UPS1_02,1,2,0,UPS1,False,1_02
2,20130510_EXQ1_IgPa_QC_UPS1_03,1,3,0,UPS1,False,1_03
3,20130510_EXQ1_IgPa_QC_UPS1_04,1,4,0,UPS1,False,1_04
4,20130510_EXQ1_IgPa_QC_UPS2_01,1,1,0,UPS2,False,2_01
5,20130510_EXQ1_IgPa_QC_UPS2_02,1,2,0,UPS2,False,2_02
6,20130510_EXQ1_IgPa_QC_UPS2_03,1,3,0,UPS2,False,2_03
7,20130510_EXQ1_IgPa_QC_UPS2_04,1,4,0,UPS2,False,2_04